HOSTNAME=localhost
PORT=3000

DB_HOST=localhost
DB_USER= # add your db username
DB_PASSWORD= # add your db password
DB_NAME=MediaSharingApp

UPLOADS_PATH=uploads/

JWT_SECRET= # add your jwt secret
JWT_EXPIRES_IN=1d # token expiration time in string format